<footer class="footer">
  <a id="footer-brand" class="link" href="{{ site.snoozle_url }}">
    <div class="snoozle-logo">
      <span class="snoozle">Snoozle</span><span class="studio">Studio</span>
    </div>
  </a>
  <div class="snoozle-agency">Digital Creative Agency</div>
  <div class="snoozle-email">
    <a class="link" href="mailto:info@snoozle.studio">info@snoozle.studio</a>
  </div>
 
    <p class="disclaimer">Origine dei dati: <a class="link" href="{{ site.dati_url }}">Presidenza del Consiglio dei Ministri - Dipartimento della Protezione Civile</a></p>
  
  <div class="address">
    Snoozle S.r.l.s. Via Monte Vettore, 4 65124 Pescara PE
    <br>
    P.I.&nbsp;02216250684
  </div>
</footer>