<a class="skip-link" href="#main">Skip to main</a>
<header class="header">
  <div class="header-container">
    <div class="snoozle-logo">
      <a class="snoozle-link" href="{{ site.snoozle_url }}">
        <span class="snoozle">Snoozle</span><span class="studio">Studio</span>
      </a>
      <p class="abruzzo">x l'Abruzzo</p>
    </div>
    <div class="social-container">
      <div class="share-please">
        condividi
      </div>
      <div>
        <a class="social-link" href="https://www.facebook.com/sharer/sharer.php?u=https://covidabruzzo.it/" title="Condividi covidabruzzo.it su Facebook" rel="noopener"
          target="_blank"><i class="fab fa-facebook"></i></a>
        <a class="social-link" href="https://wa.me/?text=Coronavirus%20in%20Abruzzo%20-%20https%3A%2F%2Fcovidabruzzo.it" title="Condividi covidabruzzo.it su WhatsApp" rel="noopener"
          target="_blank"><i class="fab fa-whatsapp"></i></a>
        <a class="social-link"
          href="mailto:?subject=&body=https://covidabruzzo.it/ Coronavirus in Abruzzo - I dati aggiornati" title="Condividi covidabruzzo.it con una mail"
          target="_blank"><i class="far fa-envelope"></i></a>
      </div>
    </div>
  </div>
  <div class="abruzzo-colors"></div>
</header>