<!-- The Modal -->
<div id="covidModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-body">
      <div class="snoozle-logo">
        <span class="snoozle">Snoozle</span><span class="studio">Studio</span>
      </div>
      <p class="contact">
        Se vuoi contattarci <a class="link" href="mailto:info@snoozle.studio">info@snoozle.studio</a>
      </p>
      <p class="info">
        Origine dei dati: Presidenza del Consiglio dei Ministri - Dipartimento della Protezione Civile.
      </p>
    </div>
    <div class="modal-footer">
      <div id="covidModalClose" class="close">Chiudi</div>
    </div>
  </div>
</div>