// colors
$black: rgb(1, 1, 1);
$blue: rgb(30, 93, 168);
$darkgray: #444444;
$darkred: #A63446;
$red: #D10D38;
$white: #fefefe;
$green: rgb(33, 129, 70);
$yellow: rgb(255, 210, 0);
$yellow-selection: #fff700;

// color scheme
// $col-1: rgb(14, 121, 178);
// $col-1: #FF7700;
$col-1: rgb(241, 8, 58);
$col-2: rgb(34, 34, 34);
// $col-3: rgb(25, 178, 144);
$col-3: rgb(33, 129, 70);
$col-4: rgb(255, 145, 0);
$col-5: rgb(228, 21, 66);
$col-6: rgb(146, 26, 52);
$col-7: rgb(235, 124, 148);
$col-8: rgb(30, 93, 168);
$col-9: rgb(125,125,125);


// $darkblue: #0E2B4D;
// $flashgreen: #00F0B5;
// $belblue: #0E79B2;
// $darkGreen: #0d5e4c;
// $green: #78b82a;
// $chieti: #710420;
// $lightgreen: #a4ec4c;
// $lightBlue: #6F97C7;
// $covidGreen: #216869;
// $covidGreen: #78b82a;
// $covidLightRed: #f0606e;

// font
$fira: 'fira-sans', sans-serif;
$abril: 'abril-fatface', serif;
$garamond: 'adobe-garamond-pro', serif;
$tillitium: 'Titillium Web', sans-serif;
$marker: 'Permanent Marker', cursive;